@import "tailwindcss";

@theme {
    /* Define some brand colors here if we want or rely on tailwind defaults */
    --color-brand-50: #f0fdfa;
    --color-brand-500: #14b8a6;
    --color-brand-600: #0d9488;
    --color-brand-900: #134e4a;
}

body {
    @apply bg-slate-50 text-slate-800 dark:bg-slate-900 dark:text-slate-100;
}
